{{ define "main" }}
    <link rel="stylesheet" href="https://caring.ustbtech.cn/res/fontawesome-5.15.4/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://caring.ustbtech.cn/res/fontawesome-5.15.4/css/solid.min.css">
    <link rel="stylesheet" href="https://caring.ustbtech.cn/res/fontawesome-5.15.4/css/brands.min.css">
    <p id="header" hidden="hidden">
        <a href="../" style="text-align: left">< 上一级</a>
        <a href="/data" style="float: right">首页</a>
    </p>

    <h2>{{ .Title }}</h2>
    <div style="line-height: 2;">
        {{ range .Pages.ByWeight }}
        <li style="list-style-type:none;">
            <i class="{{ .Params.web_icon | default "fas fa-star" }} fa-fw"></i>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </div>

    <script>
        if (!isHome) {
            document.getElementById("header").hidden = false
        }
    </script>
    <script src="https://caring.ustbtech.cn/res/fontawesome-5.15.4/js/fontawesome.min.js"></script>
    <script src="https://caring.ustbtech.cn/res/fontawesome-5.15.4/js/solid.min.js"></script>
    <script src="https://caring.ustbtech.cn/res/fontawesome-5.15.4/js/brands.min.js"></script>
{{ end }}